@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html, body {
    height: 100%;
    background: center no-repeat fixed url('../img/background.jpg');
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

@media (min-width:768px) {
    h1 {
        font-size: 68px;
    }
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.icon-bar {
    background-color: #000;
}

.navbar-trans {
    background-color: rgba(255, 255, 255, 0.6);
    border-width: 0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color: #fff;
}

.navbar-trans li>a:hover {
    background-color: #fff;
}

.navbar-trans a {
    color: #000;
    letter-spacing: 1px;
}

.navbar-trans {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
    min-height: 100%;
}

#graph {
    background-color: rgba(0, 0, 0, 0.7);
    height: 14rem;
}

#search-bar {
    position: absolute;
    font-family: 'Bitter', serif;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#search-input {
    background-color: transparent;
    outline: none;
    color: #fff;
    font-size: larger;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-left: none;
    text-align: center;
}

#search-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-input::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
}

#search-input::-moz-placeholder {
    color: #fff;
    font-style: italic;
} /* firefox 19+ */

#search-input:-ms-input-placeholder {
    color: #fff;
    font-style: italic;
} /* ie */

.node {
    stroke-width: 0;
    fill-opacity: 0.6;
}

.link {
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 1px;
}

.title {
    fill: #fff;
}
